<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type = "text/javascript" src = "javascripts/jquery-1.9.1.min.js"></script>
		<script type = "text/javascript" src = "javascripts/charts/realTimePercepGraph.js"></script>
		<script type = "text/javascript" src = "javascripts/charts/overallPercepGraph.js"> </script>
		<script type = "text/javascript" src = "javascripts/charts/overallPercepCountGraph.js"> </script>
	</head>
	<body>
<script src="javascripts/highCharts/highcharts.js"></script>
<script src="javascripts/highCharts/modules/exporting.js"></script>
<!-- <script src="/javascripts/percep_event_realtime_data.js"></script> -->
<div id="LiveChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<div id="container">
	<div id="LineChart" style="min-width: 400px; height: 400px; float: right;"></div>
	<div id="CountChart" style="min-width: 400px; height: 400px; float: left;"></div>
</div>



	</body>
</html>
